*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: #0084fd;
}
/*COMMON*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.padding-container{
    padding: 0 2rem;
}

/*HEADER*/
.list{
    display: none;
}
.button{
    height: 50px;
    width: 100px;
    background-color: white;
    padding-left: 0.5rem;
    padding-top: 1rem;
    margin-left: 1rem;
    border-radius: 50px;
}
.button a{
    color: black;
    text-decoration: none;
}
/*MAIN*/

/*INFO*/
.col{
    border: none;
    background-color:#B5DDFF;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;
}
.info{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.icon i{
    color: white;
}
li a{
    color: white;
    text-decoration: none;
}
.img-col{
    padding-top: 2rem;
}
.img-col img{
    height: 300px;
    width: 250px;
    align-items: center;
    margin-bottom: -0.2rem;
}
.text span{
    text-align: start;
    font-size: 20px;
    color: blue;
    width: 100%;
}
.text p{
    background-color: #B5DDFF;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 25px;
}
.text h3{
    padding-left: 1rem;
    text-align: left;
    background-color: #B5DDFF;
    padding-top: 1rem;
    color: #0084fd;
}
.blue-btn{
    width: 200px;
    height: 40px;
    background-color: #0084fd;
    padding-top: 0.7rem;
}
.blue-btn i{
    color: white;
    margin-right: 5px;
   
}
.blue-btn a{
    color: white;
    margin-left: 8px;
   ;
}
.application{
    padding-bottom: 1rem;
}
.application i {
    color:#0084fd;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.application h3{
    background-color: #B5DDFF;
    color: #0084fd;
    padding-bottom: 1rem;
}
.application p{
    background-color: #B5DDFF;
    color: #0084fd;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 25px;
}
/*Strategy*/
.strategy, .benefits{
    background-color: violet;
    padding-bottom: 1rem;
}

/*Testimonial*/
.testimonial{
    padding-bottom: 2rem ;
}
.testimonial .col{
    background-color: purple;
}

/*Benefits*/
h2, h3, p{
    text-align: center;
    background-color: white;
    padding: 1rem 0;
}
.benefits h2{
    color:white;
    text-align: center;
    background-color: violet;
    padding: 1 rem 0;
}

/*About Us*/
.us .container-col{
    padding: 1rem 0;
}

/*TRY*/
.try h5, h4 {
    text-align: center;
}
.try .bottone{
    text-align: center;
}
.try h2, h3{
    padding: 0;
    background-color: red;
}
.try{
    padding: 1rem 0;
    background-color: red;
}

/*FOOTER*/
footer{
    height: 100px;
    background-color: black;
}

.footcont {
  padding: 1rem;
  background-color: black;
  color: white;
}
.footcont h3{
    color: white;
    background-color: black;
    margin-bottom: 1rem;
}

/*TABLET*/
@media screen and (min-width:768px){
    .container-col{
        display: flex;
        flex-wrap: wrap;
    }
    .col{
        width: calc((100%/3) - 1rem);
    }
    .col:first-child{
        width: calc((100%/3)*2 - 0.5rem);
        margin-right: 1.5rem;
    }
    .col:nth-child(4){
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 1rem;
    }
    .col:nth-child(3){
        margin-top: 1rem;
    }
    .col:nth-child(5){
        margin-top: 1rem;
    }
    .testimonial .container-col{
        flex-direction: column;
        
    }
    .testimonial .col{
        width: 100%;
    }
    .benefits .container-col{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .benefits .col{
        width: calc(100%/3);
        margin: 1rem;
    }
    .us .container-col{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
    }
    .us .col{
        width: 50%;
        margin:0;
        justify-content: space-between;
        
    }
    .img-col img{
        justify-content: start;
        display: flex;
        margin-bottom: 0;
    }
    .application{
        padding-top: 1rem;
    }
    
}
/*DISPLAY*/ 
@media screen and (min-width:997px) {
    .list{
        display: block;
    }
    .icon{
        display: none;
    }
    .strategy .container{
        padding: 0 3rem;
    }
    .benefits .container-col{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .benefits .col{
        width: calc(100%/4);
        margin: 2rem 2rem;
    }
   .list ul{
       display: flex;
       list-style-type: none;
   }
    .list li{
        padding: 1rem 1rem;
       
    }
    .list{
        display: flex;
    }
    .col:first-child{
        display: flex;
        
    }
    .img-col{
        padding-left: 4rem;
    }
    .img-col img{
        height: 300px;
        margin-bottom: 0rem;
    }
    .text{
       
        width: 50%;
    }
    .text h3{
        padding-top: 1rem;
    }
    .text p{
        padding-top: 2rem;
    }
    .blue-btn{
        margin-top: 2rem;
    }
}
